.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid red;
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color: darkmagenta;
}

h3 { 
  color: rgb(236, 24, 24);
}

body  {
  padding: 30px;
  background-color: slategray;
}